body {
  font-family: "Poppins", sans-serif;
}

a {
  color: #797f8f;
  text-decoration: none;
}

.mainContainer {
  width: 64em;
  margin: 0 auto;
}

/* header Section */

.mainContainer .headerSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainContainer .headerSection .logoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 16em;
}

.mainContainer .headerSection .logoContainer .logo h1 {
  margin-block: 0;
  display: inline;
  font-size: 2em;
  color: #232631;
}

.mainContainer .headerSection .logoContainer .logo i {
  font-size: 2em;
  color: #232631;
}

.mainContainer .headerSection .hrvertical {
  height: 3em;
  border-left: 0.01em solid #797f8f23;
}

.mainContainer .headerSection .logoContainer .travelers {
  color: #797f8f;
  font-size: 0.8em;
  font-weight: bold;
}

.mainContainer .headerSection .logoContainer .travelers a {
  padding-right: 0.5em;
}

.mainContainer .headerSection .logoContainer .travelers i {
  font-size: 1.2em;
}

.mainContainer .headerSection .navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainContainer .headerSection nav .navContainer .navigation a {
  margin: 0 1em;
  font-size: 0.8em;
}

.mainContainer .headerSection nav .navContainer .navigation i {
  margin-right: 0.8em;
}

.mainContainer .headerSection nav .navContainer .navigation .propertyStyles {
  border: 0.2em solid #e6e8ec;
  border-radius: 2em;
  padding: 0.5em 0.9em;
  color: #232631;
  font-weight: bold;
}

.mainContainer .headerSection nav .navIcons {
  padding: 0 0 1em 1em;
}

.mainContainer .headerSection nav .navIcons .supDot {
  height: 0.8em;
  width: 0.8em;
  background-color: #5ec47e;
  border-radius: 50%;
  display: inline-block;
}

.mainContainer .headerSection nav .navIcons img {
  width: 2.5em;
  position: relative;
  top: 0.65em;
  padding-left: 0.8em;
}

/* HR */

.hrFull {
  height: 1em;
  border-bottom: 0.01em solid #797f8f23;
  width: 100%;
}

/* current Location */

.mainContainer .mainSection .currentLocation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
}

.mainContainer .mainSection .currentLocation .homeButton {
  padding: 0.5em 1.4em;
  border: 0.1em solid #797f8f4a;
  border-radius: 3em;
  font-size: 0.8em;
}

.mainContainer .mainSection .currentLocation .homeButton a {
  margin-left: 0.8em;
  font-weight: bold;
  color: #232631;
}

.mainContainer .mainSection .currentLocation .layoutContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #797f8f;
}

.mainContainer .mainSection .currentLocation .layoutContainer h6 {
  color: #797f8f;
  margin: 0 1.5em;
}

.mainContainer .mainSection .currentLocation .layoutContainer .light {
  color: #797f8f5e;
}

/* Title Section */

.mainContainer .mainSection .titleContainer .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainContainer .mainSection .titleContainer .title .titleText h1 {
  font-size: 2.7em;
  width: 70%;
  margin-block: 0;
  margin-top: 1em;
}

.mainContainer .mainSection .titleContainer .title .iconsContainer i {
  padding: 0.65em 0.7em;
  border: 0.06em solid #797f8f;
  border-radius: 50%;
  color: #797f8f;
  margin: 0 0.3em;
}

.mainContainer .mainSection .titleContainer .reviewContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.85em;
  color: #797f8f;
}

.mainContainer .mainSection .titleContainer .reviewContainer img {
  width: 2em;
  padding-right: 0.8em;
}

.mainContainer .mainSection .titleContainer .reviewContainer i {
  padding: 0 1em;
}

.starColor {
  color: #f5d165;
}

/* Images */

.mainContainer .mainSection .imagesContainer {
  margin-top: 2.8em;
  display: flex;
}

.mainContainer .mainSection .imagesContainer img {
  width: 75%;
  height: 99vh;
  object-fit: cover;
  border-radius: 1em;
}

.mainContainer .mainSection .imagesContainer .stackedImages {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.mainContainer .mainSection .imagesContainer .stackedImages img {
  height: 32.2vh;
  object-fit: cover;
  margin: 0 0 0.5em 0.5em;
  width: 100%;
  box-sizing: border-box;
}

.buttonImage {
  position: relative;
}

.mainContainer .mainSection .imagesContainer i {
  position: absolute;
  right: 16.2em;
  top: 30.5em;
  color: #797f8f;
  background-color: white;
  padding: 1em;
  border-radius: 50%;
}

/* Footer Container */

.footerContainer {
  text-align: center;
}

.footerContainer h3 {
  display: inline;
  font-weight: lighter;
}

.footerContainer a {
  font-weight: bold;
  font-size: 1.5em;
}
